<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username..."
        />
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <div class="mb-3">
          <button>Sign In</button>
        </div>
      </div>
    </form>
  </body>
</html>
